// Override Antd Variables

// Base Scaffolding Variables
// ---
@font-family: 'Montserrat', 'sans-serif';

// -------- Colors -----------
@primary-color: #e3c83a;
@link-color: #0052b4;
@text-color: #222222;
@btn-primary-color: @text-color;
@input-placeholder-color: @text-color;

// layout
@layout-header-background : @text-color;
@layout-trigger-background : @primary-color;
// dark theme
@menu-dark-submenu-bg: @primary-color;
@menu-dark-item-active-bg: @primary-color;
