// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
/**
 * Set up a decent box model on the root element
 */

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.ant-table-thead>tr>th {
  font-weight: 700;
}

/*Transitions----------------------------*/

//Fade
.fade-page-enter {
  opacity: 0;
}

.fade-page-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-page-exit {
  display: none;
}

.fade-page-exit-done {
  display: none;
}

// Slide
.slide-enter {
  transform: translateX(-100%);
}

.slide-enter-active {
  animation: slide-in 300ms ease-out forwards;
}

.slide-exit {
  transform: translateX(100%);
}

.slide-exit-active {
  animation: slide-out 300ms ease-out forwards;
}

.slide-reverse-enter {
  transform: translateX(100%);
}

.slide-reverse-enter-active {
  animation: slide-in-reverse 300ms ease-out forwards;
}

.slide-reverse-exit {
  transform: translateX(-100%);
}

.slide-reverse-exit-active {
  animation: slide-out-reverse 300ms ease-out forwards;
}

// Slide vertical
.slidev-enter {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: left top;
}

.slidev-enter-active {
  overflow: hidden;
  opacity: 1;
  transform: scaleY(1);
  transform-origin: left top;
  transition: all 300ms ease-in-out;
}

.slidev-exit {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: left top;
}

.slidev-exit-active {
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: left top;
  transition: all 300ms ease-in-out;
}

.slidev-exit-done {
  display: none;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-reverse {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-reverse {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
