// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.ant-btn-primary {
  color: $text-color !important;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}
